<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= @profile.nick %> on twtxt</title>
  <link rel="stylesheet" type="text/css" href="/styles.css" />
</head>
<body>
  <header>
    <h1>@<%= @profile.nick %></h1>
  </header>
  <div class="profile-container">
    <div class="profile-avatar">
      <img src="<%= @profile.avatar %>" alt="<%= @profile.nick %>'s Profile Picture"></img>
    </div>
    <div class="profile-info">
      <div class="profile-nick">
        <%= @profile.nick %>
      </div>
      <div class="profile-description">
        <%= @profile.url %>
      </div>
    </div>
  </div>
</body>
</html>
